language: python
python:
  - "2.7"
  - "3.6"
  - "3.7"
install:
  - pip install -r requirements.txt
  - pip install .
  - pip install pytest h5py coveralls
script:
  - coverage run --source epsie -m pytest test
after_success:
  - coverage report
  - coveralls
