.wy-side-nav-search, .wy-nav-top {
    background: #cd7000;
}

.wy-menu > .caption > span.caption-text {
  color: #cd7000;
}

.rst-current-version, .rst-versions {
    color: #31a4fe !important;
    text-align: left !important;
}
