name: build latest docs

on:
  push:
    branches:
      - master
  pull_request:
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v2
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r companion.txt
        pip install .
    - name: Install pandoc
      run: sudo apt-get install pandoc
    - name: Build the docs
      run: ./.github/scripts/build_docs.sh latest
      shell: bash
